* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul {
  list-style: none;
}

.results-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 20px;
}

@media (max-width: 1200px) {
  .results-container {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (max-width: 920px) {
  .results-container {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 600px) {
  .results-container {
    grid-template-columns: repeat(2, 1fr);
  }
}
